<%= form_for([:admin, @client_api_profile], :html => { :class => "form-horizontal" }) do |f| %>
  <div class="form-body">
    <%= f.error_messages %>
    <h4 class="form-section">接口配置</h4>
    <div class="form-group">
      <%= render "shared/column", :name => "数据源名称", :content => f.collection_select(:client_service_name, ClientService.enabled, :name, :name, {}, { :class => 'form-control select2me' }) %>
      <%= render "shared/column", :name => "客户", :content => f.collection_select(:client_id, Client.all, :id, :name, {}, { :class => 'form-control select2me' }) %>
      <label class="control-label col-md-1">禁用</label>
      <div class="col-md-3">
        <div class="checkbox-list">
          <label class="checkbox-inline">
            <%= f.check_box(:disabled, :class => "form-control" ) %>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= render "shared/column", :name => "密钥", :content => f.c_text_field(:secret) %>
      <%= render "shared/column", :name => "CID", :content => f.c_text_field(:cid) %>
    </div>
    <div class="form-group">
      <label class="control-label col-md-1">回传地址</label>
      <div class="col-md-11">
        <%= f.c_text_field(:callback) %>
      </div>
    </div>
  </div>
  <div class="form-actions right">
    <button type="submit" class="btn">保存</button>
  </div>
<% end %>