<div class="row">
  <div class="col-md-12">
    <div class="portlet box light-grey">
      <div class="portlet-title">
        <div class="caption"><i class="fa fa-cogs"></i>队列用户</div>
        <div class="actions">
          <%= AutoAssignManager.stats[:dispatch_start_at].to_datetime.strftime('最近一次分配开始于 %m-%d %H:%M:%S') unless AutoAssignManager.stats[:dispatch_start_at].nil? %>
          <%= AutoAssignManager.stats[:dispatch_stop_at].to_datetime.strftime('最近一次分配结束于 %m-%d %H:%M:%S') unless AutoAssignManager.stats[:dispatch_stop_at].nil? %>
          <% if AutoAssignManager.running? %>
          <%= AutoAssignManager.stats[:start_at].to_datetime.strftime('开始于 %m-%d %H:%M:%S') unless AutoAssignManager.stats[:start_at].nil? %>
          <%= link_to "停止", admin_auto_assign_stop_path, :class => "btn default", method: :post %>
          <% else %>
          <%= AutoAssignManager.stats[:stop_at].to_datetime.strftime('停止于 %m-%d %H:%M:%S') unless AutoAssignManager.stats[:stop_at].nil? %>
          <%= link_to "启动", admin_auto_assign_start_path, :class => "btn default", method: :post %>
          <% end %>
        </div>
      </div>
      <div class="portlet-body">
        <div class="dataTables_wrapper form-inline" role="grid">
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>编号</th>
                  <th>账号</th>
                  <th>姓名</th>
                  <th>部门</th>
                  <th>角色</th>
                  <th>上级</th>
                  <th>账户类型</th>
                  <th>在线状态</th>
                  <th>最后分配</th>
                  <th>分配间隔</th>
                  <th>连接数</th>
                  <th>自动分配</th>
                  <th>是否启用</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              <% @users.each do |f| %>
                <tr>
                  <td><%= f.no %></td>
                  <td><%= f.email %></td>
                  <td><%= f.name %></td>
                  <td><%= f.department %></td>
                  <td><%= f.role %></td>
                  <td><%= f.manager.name unless f.manager.nil? %></td>
                  <td><%= f.account_type %></td>
                  <td>
                    <span class="<%= case UserOnlineManager.status_of(f)
                    when '在线'
                      "label label-success"
                    when '离开'
                      "label label-warning"
                    when '离线'
                      "label label-default"
                    when '繁忙'
                      "label label-danger"
                    else 
                      "label label-default"
                    end %>" ><%= UserOnlineManager.status_of(f) %></span>
                  </td>
                  <td><%= AutoAssignManager.last_assigned_of(f).strftime('%m-%d %H:%M:%S') unless AutoAssignManager.last_assigned_of(f).nil? %></td>
                  <td><%= f.auto_assign_interval %></td>
                  <td><%= UserOnlineManager.connections_count_of(f) %></td>
                  <td><%= f.can_auto_assign_to ? "分配" : "不分配" %></td>
                  <td><%= f.access_locked? ? "已禁用" : "已启用" %></td>
                  <td>
                    <%= link_to '编辑', edit_admin_user_path(f) %>
                    <%= link_to '离线', offline_admin_user_path(f), :data => { :confirm => "该操作会关闭该用户正在操作的所有页面,确认?" }, :method => :post %>
                    <%= link_to '日志', admin_auto_assign_logs_by_user_path(:user_id => f.id), :target => f.no %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="portlet box light-grey">
      <div class="portlet-title">
        <div class="caption"><i class="fa fa-cogs"></i>队列任务</div>
      </div>
      <div class="portlet-body">
        <div class="dataTables_wrapper form-inline" role="grid">
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>调度状态</th>
                  <th>接单号</th>
                  <th>数据来源</th>
                  <th>外部单号</th>
                  <th>接单时间</th>
                  <th>客户来源</th>
                  <th>所属人</th>
                  <th>联系电话</th>
                  <th>车牌号</th>
                  <th>车型</th>
                  <th>VIN</th>
                  <th>故障地址</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              <% @aa_cases.each do |f| %>
                <tr>
                  <td><%= f.aa_rescue.status if f.aa_rescue %></td>
                  <td><%= f.no %></td>
                  <td><%= f.data_source %></td>
                  <td><%= f.out_source_no %></td>
                  <td><%= f.created_at.strftime('%m-%d %H:%M:%S') %></td>
                  <td><%= f.client_service_name %></td>
                  <td><%= f.owner.name if f.owner %></td>
                  <td><%= f.customer_mobile %></td>
                  <%= omission_td(6, f.car_license_no) %>
                  <%= omission_td(6, f.car_model) %>
                  <%= omission_td(6, f.car_vin) %>
                  <%= omission_td(8, f.from_province, f.from_city, f.from_region, f.from_details) %>
                  <td>
                    <%= link_to '详情', edit_aa_case_path(f), target: f.no %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



