<table class="table table-hover table-bordered">
  <tr><td>salvation_id</td><td><%= item.salvation_id %></td></tr>
  <tr><td>malfunction_type</td><td><%= item.malfunction_type %></td></tr>
  <tr><td>salvation_type_act</td><td><%= item.salvation_type_act %></td></tr>
  <tr><td>begin_point</td><td><%= item.begin_point %></td></tr>
  <tr><td>salvation_fee_type</td><td><%= item.salvation_fee_type %></td></tr>
  <tr><td>salvation_state</td><td><%= item.salvation_state %></td></tr>
  <tr><td>date_connecting</td><td><%= item.date_connecting.strftime('%m-%d %H:%M:%S') unless item.date_connecting.nil? %></td></tr>
  <tr><td>date_dispatch</td><td><%= item.date_dispatch.strftime('%m-%d %H:%M:%S') unless item.date_dispatch.nil? %></td></tr>
  <tr><td>date_arrive</td><td><%= item.date_arrive.strftime('%m-%d %H:%M:%S') unless item.date_arrive.nil? %></td></tr>
  <tr><td>date_finished</td><td><%= item.date_finished.strftime('%m-%d %H:%M:%S') unless item.date_finished.nil? %></td></tr>
  <tr><td>drag_distance</td><td><%= item.drag_distance %></td></tr>
  <tr><td>salvation_result</td><td><%= item.salvation_result %></td></tr>
  <tr><td>quit_reason</td><td><%= item.quit_reason %></td></tr>
  <tr><td>other_info</td><td><%= item.other_info %></td></tr>
  <tr><td>salvation_fee</td><td><%= item.salvation_fee %></td></tr>
  <tr><td>insured_status</td><td><%= item.insured_status %></td></tr>
  <tr><td>end_point</td><td><%= item.end_point %></td></tr>
  <tr><td>salvation_fee_pt</td><td><%= item.salvation_fee_pt %></td></tr>
  <tr><td>salvation_object_aa</td><td><%= item.salvation_object_aa %></td></tr>
  <tr><td>salvation_help_time</td><td><%= item.salvation_help_time.strftime('%m-%d %H:%M:%S') unless item.salvation_help_time.nil? %></td></tr>
  <tr><td>salvation_person_name</td><td><%= item.salvation_person_name %></td></tr>
  <tr><td>salvation_person_telno</td><td><%= item.salvation_person_telno %></td></tr>
  <tr><td>salvation_intending_time</td><td><%= item.salvation_intending_time.strftime('%m-%d %H:%M:%S') unless item.salvation_intending_time.nil? %></td></tr>
  <tr><td>salvation_person_workno</td><td><%= item.salvation_person_workno %></td></tr>
  <tr><td>act_gps_x</td><td><%= item.act_gps_x %></td></tr>
  <tr><td>act_gps_y</td><td><%= item.act_gps_y %></td></tr>
  <tr><td>act_salvation_place</td><td><%= item.act_salvation_place %></td></tr>
  <tr><td>salvation_factory_id</td><td><%= item.salvation_factory_id %></td></tr>
  <tr><td>salvation_person_mobile_no</td><td><%= item.salvation_person_mobile_no %></td></tr>
</table>