<table class="table table-hover table-bordered">
  <tr><td>salvation_id</td><td><%= item.salvation_id  %></td></tr>
  <tr><td>report_name</td><td><%= item.report_name  %></td></tr>
  <tr><td>report_telephone</td><td><%= item.report_telephone %></td></tr>
  <tr><td>salvation_object</td><td><%= item.salvation_object  %></td></tr>
  <tr><td>car_mark</td><td><%= item.car_mark  %></td></tr>
  <tr><td>car_type</td><td><%= item.car_type  %></td></tr>
  <tr><td>salvation_type</td><td><%= item.salvation_type  %></td></tr>
  <tr><td>dep_code</td><td><%= item.dep_code  %></td></tr>
  <tr><td>damage_time</td><td><%= item.damage_time  %></td></tr>
  <tr><td>damage_place</td><td><%= item.damage_place  %></td></tr>
  <tr><td>insured_name</td><td><%= item.insured_name  %></td></tr>
  <tr><td>supplement_info</td><td><%= item.supplement_info  %></td></tr>
  <tr><td>operator_id</td><td><%= item.operator_id  %></td></tr>
  <tr><td>callerno</td><td><%= item.callerno  %></td></tr>
  <tr><td>salvation_fee_type</td><td><%= item.salvation_fee_type  %></td></tr>
  <tr><td>obligate_field</td><td><%= item.obligate_field  %></td></tr>
  <tr><td>gps_x</td><td><%= item.gps_x  %></td></tr>
  <tr><td>gps_y</td><td><%= item.gps_y  %></td></tr>
  <tr><td>data_source</td><td><%= item.data_source  %></td></tr>
</table>