<table class="table table-hover table-bordered">
  <tr><td>pa_rslt_code</td><td><%= item.pa_rslt_code %></td></tr>
  <tr><td>pa_rslt_mesg</td><td><%= item.pa_rslt_mesg %></td></tr>
  <tr><td>salvation_id</td><td><%= item.salvation_id %></td></tr>
  <tr><td>result_time</td><td><%= item.result_time.strftime('%m-%d %H:%M:%S') %></td></tr>
  <tr><td>salvation_factory_id</td><td><%= item.salvation_factory_id %></td></tr>
</table>