<div class="row">
  <div class="col-md-12">
    <div class="portlet box light-grey">
      <div class="portlet-title">
        <div class="caption"><i class="fa fa-cogs"></i>文件列表</div>
        <div class="actions">
          <% if can? :import, ExportFile %>
          <%= link_to "生成",new_export_file_path, :class => "btn default" %>
          <% end %>
          <% if can? :subscribe, ExportFile %>

          <%= link_to current_user.subscribe_export ? "取消订阅" : "订阅",subscribe_export_files_path,:method => "post", :class => "btn default" %>
          <% end %>
        </div>
      </div>
      <div class="portlet-body">
        <div class="dataTables_wrapper form-inline" role="grid">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>文件名</th>
                  <th>创建时间</th>
                  <th>文件后缀</th>
                  <th>文件类型</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              <% @export_files.each do |f| %>
                <tr>
                  <td><%= f.name %></td>
                  <td><%= f.created_at %></td>
                  <td><%= f.extension %></td>
                  <td><%= f.file_type %></td>
                  <td>
                    <%= link_to '下载', download_export_files_path(id: f.id) %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
            <%= paginate @export_files %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>