<div class="row">
  <div class="col-md-12">
    <div class="portlet box light-grey">
      <div class="portlet-title">
        <div class="caption"><i class="fa fa-cogs"></i>救援工任务</div>
        <div class="actions">
        </div>
      </div>
      <div class="portlet-body">
        <div class="dataTables_wrapper form-inline" role="grid">
          <div class="row">
            <div class="col-md-12 col-sm-12">
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th><%= WorkerJob.human_attribute_name(:aa_case_no) %></th>
                  <th><%= WorkerJob.human_attribute_name(:owner_id) %></th>
                  <th><%= WorkerJob.human_attribute_name(:customer_name) %></th>
                  <th><%= WorkerJob.human_attribute_name(:customer_mobile) %></th>
                  <th><%= WorkerJob.human_attribute_name(:car_license_no) %></th>
                  <th><%= WorkerJob.human_attribute_name(:car_vin) %></th>
                  <th><%= WorkerJob.human_attribute_name(:car_model) %></th>
                  <th><%= WorkerJob.human_attribute_name(:car_color) %></th>
                  <th><%= WorkerJob.human_attribute_name(:rescue_type) %></th>
                  <th><%= WorkerJob.human_attribute_name(:rescue_reason) %></th>
                  <th><%= WorkerJob.human_attribute_name(:from_province) %></th>
                  <th><%= WorkerJob.human_attribute_name(:from_city) %></th>
                  <th><%= WorkerJob.human_attribute_name(:from_region) %></th>
                  <th><%= WorkerJob.human_attribute_name(:from_details) %></th>
                  <th><%= WorkerJob.human_attribute_name(:to_province) %></th>
                  <th><%= WorkerJob.human_attribute_name(:to_city) %></th>
                  <th><%= WorkerJob.human_attribute_name(:to_region) %></th>
                  <th><%= WorkerJob.human_attribute_name(:to_details) %></th>
                  <th><%= WorkerJob.human_attribute_name(:aa_rescue_id) %></th>
                  <th><%= WorkerJob.human_attribute_name(:disabled_at) %></th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
              <% @worker_jobs.each do |worker_job| %>
                <tr>
                  <td><%= worker_job.aa_case_no %></td>
                  <td><%= worker_job.owner.name %></td>
                  <td><%= worker_job.customer_name %></td>
                  <td><%= worker_job.customer_mobile %></td>
                  <td><%= worker_job.car_license_no %></td>
                  <td><%= worker_job.car_vin %></td>
                  <td><%= worker_job.car_model %></td>
                  <td><%= worker_job.car_color %></td>
                  <td><%= worker_job.rescue_type %></td>
                  <td><%= worker_job.rescue_reason %></td>
                  <td><%= worker_job.from_province %></td>
                  <td><%= worker_job.from_city %></td>
                  <td><%= worker_job.from_region %></td>
                  <td><%= worker_job.from_details %></td>
                  <td><%= worker_job.to_province %></td>
                  <td><%= worker_job.to_city %></td>
                  <td><%= worker_job.to_region %></td>
                  <td><%= worker_job.to_details %></td>
                  <td><%= worker_job.aa_rescue_id %></td>
                  <td><%= worker_job.disabled_at %></td>
                  <td><%= link_to '详情', worker_job %></td>
                  <td><%= link_to '编辑', edit_worker_job_path(worker_job) %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
            <%= paginate @worker_jobs %> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>