<div class="row-fluid">
<div class="span12">
<div class="portlet box blue ">
<div class="portlet-title">
  <div class="caption"><i class="icon-reorder"></i>worker_job</div>
  <div class="tools">
    <a href="javascript:;" class="collapse"></a>
  </div>
</div>

<div class="portlet-body form form-horizontal">
  <div class="control-group">
    <%= label :worker_job, :owner_id, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @worker_job.owner_id %></span> 
    </div>
  </div>
  <div class="control-group">
    <%= label :worker_job, :customer_name, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @worker_job.customer_name %></span> 
    </div>
  </div>
  <div class="control-group">
    <%= label :worker_job, :customer_mobile, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @worker_job.customer_mobile %></span> 
    </div>
  </div>
  <div class="control-group">
    <%= label :worker_job, :car_license_no, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @worker_job.car_license_no %></span> 
    </div>
  </div>
  <div class="control-group">
    <%= label :worker_job, :car_vin, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @worker_job.car_vin %></span> 
    </div>
  </div>
  <div class="control-group">
    <%= label :worker_job, :car_model, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @worker_job.car_model %></span> 
    </div>
  </div>
  <div class="control-group">
    <%= label :worker_job, :car_color, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @worker_job.car_color %></span> 
    </div>
  </div>
  <div class="control-group">
    <%= label :worker_job, :rescue_type, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @worker_job.rescue_type %></span> 
    </div>
  </div>
  <div class="control-group">
    <%= label :worker_job, :rescue_reason, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @worker_job.rescue_reason %></span> 
    </div>
  </div>
  <div class="control-group">
    <%= label :worker_job, :from_province, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @worker_job.from_province %></span> 
    </div>
  </div>
  <div class="control-group">
    <%= label :worker_job, :from_city, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @worker_job.from_city %></span> 
    </div>
  </div>
  <div class="control-group">
    <%= label :worker_job, :from_region, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @worker_job.from_region %></span> 
    </div>
  </div>
  <div class="control-group">
    <%= label :worker_job, :from_details, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @worker_job.from_details %></span> 
    </div>
  </div>
  <div class="control-group">
    <%= label :worker_job, :to_province, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @worker_job.to_province %></span> 
    </div>
  </div>
  <div class="control-group">
    <%= label :worker_job, :to_city, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @worker_job.to_city %></span> 
    </div>
  </div>
  <div class="control-group">
    <%= label :worker_job, :to_region, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @worker_job.to_region %></span> 
    </div>
  </div>
  <div class="control-group">
    <%= label :worker_job, :to_details, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @worker_job.to_details %></span> 
    </div>
  </div>
  <div class="control-group">
    <%= label :worker_job, :aa_rescue_id, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @worker_job.aa_rescue_id %></span> 
    </div>
  </div>
</div>
</div>
</div>
</div>