<div class="row-fluid">
<div class="span12">
<div class="portlet box blue ">
<div class="portlet-title">
  <div class="caption"><i class="icon-reorder"></i>accounting_job</div>
  <div class="tools">
    <a href="javascript:;" class="collapse"></a>
  </div>
</div>

<div class="portlet-body form form-horizontal">
  <div class="control-group">
    <%= label :accounting_job, :fee, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @accounting_job.fee %></span> 
    </div>
  </div>
  <div class="control-group">
    <%= label :accounting_job, :confirm_fee, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @accounting_job.confirm_fee %></span> 
    </div>
  </div>
  <div class="control-group">
    <%= label :accounting_job, :status, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @accounting_job.status %></span> 
    </div>
  </div>
  <div class="control-group">
    <%= label :accounting_job, :aa_case_id, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @accounting_job.aa_case_id %></span> 
    </div>
  </div>
  <div class="control-group">
    <%= label :accounting_job, :aa_rescue_id, :class => 'control-label' %>
    <div class="controls">
      <span class="text"><%= @accounting_job.aa_rescue_id %></span> 
    </div>
  </div>
</div>
</div>
</div>
</div>